In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/Rune_Data.csv')

In [3]:
# Perform ETL, on timestamp
df.head()

,timestamp,Fire_rune,Water_rune,Air_rune,Earth_rune,Mind_rune,Body_rune,Death_rune,Nature_rune,Chaos_rune,Law_rune,Cosmic_rune,Blood_rune,Soul_rune
0,1619222400000,5,4,5,5,3,5,183,166,42,116,106,364,146
1,1619308800000,5,5,5,5,3,6,182,167,41,117,103,364,145
2,1619395200000,5,5,5,4,3,5,182,170,40,117,105,362,144
3,1619481600000,5,5,5,4,3,5,182,173,40,118,109,360,144
4,1619568000000,5,5,5,5,3,5,180,174,41,118,114,358,143

In [4]:
# Convert Unix timestamp to yyyy-mm-dd
df.set_index('timestamp')
df['timestamp'] = pd.to_datetime(df['timestamp'],unit='ms')
df.style.format

In [5]:
df.head()

,timestamp,Fire_rune,Water_rune,Air_rune,Earth_rune,Mind_rune,Body_rune,Death_rune,Nature_rune,Chaos_rune,Law_rune,Cosmic_rune,Blood_rune,Soul_rune
0,2021-04-24,5,4,5,5,3,5,183,166,42,116,106,364,146
1,2021-04-25,5,5,5,5,3,6,182,167,41,117,103,364,145
2,2021-04-26,5,5,5,4,3,5,182,170,40,117,105,362,144
3,2021-04-27,5,5,5,4,3,5,182,173,40,118,109,360,144
4,2021-04-28,5,5,5,5,3,5,180,174,41,118,114,358,143

In [6]:
# Save as new CSV

df.to_csv(r'./data/rune_data_ETL.csv', index = False)